* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./Assets/plant1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherDash {
    text-align: center;
    background-color: orange;
    padding: 10px;
    font: green;
}

.contained {
    padding: 20px 10px;
    color: whitesmoke;
    position: relative;
    top: -350px;
  
}
.weather-point{
    font-size: 35px;
}

.todayInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 50px;
    padding: 20px 50px;

}

.todayInfo .item .weather-point {
    display: flex;
    justify-content: space-between;
}

.todayInfo .item {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 10px;
    border: 1px solid whitesmoke;
}

.todays-forecast {
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: whitesmoke;
    width: 100%;
    align-items: center;
    justify-content: space-evenly
}

.todays-forecast .weather-forecast {
    display: flex;
    justify-content: space-evenly;
}

.todays-forecast .days {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todays-forecast .days .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.todays-forecast .today .temp {
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;

}

.date {
    font-size: 40px;
    background-color: #3c3c44;
    padding: 5px 10px;
    border-radius: 40px;
    text-align: justify;
}

.weather-forecast .weather-forecast-item {
    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.city-group{
    position: relative;
    right: -700px;
    width: 350px;
    background-color: #3c3c44;
    padding: 10px 10px;
    border-radius: 40px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* .list-group-item{
    background-color: #3c3c44;
    padding: 5px 15px;
} */